@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
     margin: 0 auto;
}
.bgcolor{
    background-color: #050a2e;
}
body {
  background-color: lightblue;
}
.txtW{
    color: white;
}
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
.w90{
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}
.content{
    min-height: 100vh;
    background-color: #050a2e;
    font-size: 5vh;
    color: pink;
    padding: 10%;
    font-family: 'VT323', monospace;
}

.box{
    padding: 2% 0% 0% 10%;
}
.f-r{
    font-family: 'VT323', monospace;
}
.center{
    text-align: center;
}
.text{
    font-size: 2.8vh;
    color: navajowhite;
}
.content p {
    position: relative;
}
.line-1{
    font-family: 'VT323', monospace;
    position: relative;
    top: 44%;  
    font-size: 180%;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: pink;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
              blink-caret .75s step-end infinite;
}
@keyframes typewriter{
  from{width:0;}
  to{width: 100%;}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

.intro{
    height:100vh;
    background-color: #050a2e;
}
@media screen and (min-width:767px){
    @keyframes typewriter{
  from{width:0;}
  to{width: 24vw;}
}
}
.name{
    font-size: 200%;
    width: -20em;
}
#red{
    color: palevioletred;
}
#pink{
    color:pink;
}
#blue{
    color: lightblue;
}
#yellow{
    color: lightgoldenrodyellow;
}
#green{
    color: palegreen;
}