@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
     margin: 0 auto;
}
.content{
    min-height: 100vh;
    background-color: #050a2e;
    font-size: 5vh;
    color: pink;
    padding: 10%;
    font-family: 'VT323', monospace;
}

.box{
    padding: 2% 0% 0% 10%;
}
.f-r{
    font-family: sans-serif;
}
.text{
    font-size: 2.8vh;
    color: navajowhite;
}
.content p {
    position: relative;
}
.image img{
    max-width:100%;
max-height:100%;
}
.line-1{
    font-family: 'VT323', monospace;
    position: relative;
    top: 44%;  
    font-size: 180%;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: pink;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
              blink-caret .75s step-end infinite;
}
@keyframes typewriter{
  from{width:0;}
  to{width: 100%;}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

.intro{
    height:100vh;
    background-color: #050a2e;
}
@media screen and (min-width:767px){
    @keyframes typewriter{
  from{width:0;}
  to{width: 24vw;}
}
}
.name{
    font-size: 200%;
    width: -20em;
}
#spotLight {
  width:1024px;
  height:768px;
  z-index:9;
  position:absolute;
  display:none;
}