@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
    
}

.line-1{
    font-family: 'VT323', monospace;
    position: relative;
    top: 44%;  
    font-size: 180%;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: greenyellow;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
              blink-caret .75s step-end infinite;
}
@keyframes typewriter{
  from{width:0;}
  to{width: 100%;}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

.intro{
    height:100vh;
    background-color: black;
}
.name{
    font-size: 200%;
    width: -20em;
}
#spotLight {
  width:1024px;
  height:768px;
  z-index:9;
  position:absolute;
  display:none;
}